.card-main {
  margin-top: 30px;
  display: flex;
  max-width: 1250px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}

.img {
  width: 500px;
  height: 350px;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.buttons-content {
  display: flex;
  justify-content: center;
}

.icon {
  margin-right: 20px;
  margin-left: 20px;
}
