<app-header></app-header>

<div class="container">
  <div class="main">
    
    <div class="profile-info">
      <div>
        <img class="img-profile" src="https://boitempoeditorial.files.wordpress.com/2015/06/cultura-inc3batil-velhice-bg.jpg">
      </div>
      <div class="list-info">
        <span>Name</span>
        <span>Description</span>
        <span>Adress</span>
      </div>
    </div>

    <div class="product-list">
      <p>Table List here aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa </p>
    </div>
  </div>
</div>